<div class="container">
    <h2>    
        <i class="fa fa-tree" aria-hidden="true"></i>
        <i class="fa fa-tree" aria-hidden="true"></i>
        Welcome to Pineterest
        <i class="fa fa-tree" aria-hidden="true"></i>
        <i class="fa fa-tree" aria-hidden="true"></i> 
	</h2>
	<h4><em>Just like Pinterest, but exclusively for Trees!</em></h4>
	<h4>No more are the days of scouring Pinterest for tree-related content.</h4>
	{{>_gallery}}
</div>
<footer>In order to maintain the integrity of our brand, we ask that you please refrain from posting content unrelated to trees. Pines are preferred, but we never discriminate. Depictions of graphic violence and/or nudity may or may not be deemed acceptable depending upon the visibility of any trees or saplings within the image. For any treeless content, please take it to Pinterest. </footer>